.navhome{
    display: flex;
    width: 100%;
    height: 80px;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}
.navhome_left{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navhome_left h3{
  font-weight:700;
}
.navhome_right{
    display: flex;
    gap: 10px;
}
.navhome_right button{
   width: auto;
   height: 40px;
   padding: 0 15px;
   cursor: pointer;
   border-radius: 6px;
}
.navhome_right  #signinBtn{
    color: #7EA6FF;
    border: 2px solid #7EA6FF;
    background: transparent;
    font-weight: 600;
}
.navhome_right  #formbotBtn{
    color: white;
    border: none;
    background: #1A5FFF;
    font-weight: 600;
}
